<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>
<div class="gridster">
  <ul>
	
	<li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
		<div data-id="jira-list-issues-jql" data-view="JiraListIssuesJql"></div>
	</li>
    
  </ul>
</div>
<%- contentFor('title') %>
Monitoring